<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_flutterattendance_root"
              name="Mobile Attendance"
              sequence="60"
              groups="hr.group_hr_user"/>

    <menuitem id="menu_flutterattendance_attendance"
              name="Attendance"
              parent="menu_flutterattendance_root"
              action="action_flutterattendance_attendance"
              sequence="10"/>

    <menuitem id="menu_flutterattendance_device"
              name="Devices"
              parent="menu_flutterattendance_root"
              action="action_flutterattendance_device"
              sequence="20"/>

    <menuitem id="menu_flutterattendance_face_approval"
              name="Face Approvals"
              parent="menu_flutterattendance_root"
              action="action_flutterattendance_face_approval"
              sequence="25"/>

    <menuitem id="menu_flutterattendance_issue"
              name="Issues Request"
              parent="menu_flutterattendance_root"
              action="action_flutterattendance_issue"
              sequence="27"/>

    <menuitem id="menu_flutterattendance_shift"
              name="Shifts"
              parent="menu_flutterattendance_root"
              action="action_flutterattendance_shift"
              sequence="30"/>

    <menuitem id="menu_flutterattendance_mail_root"
              name="Mail"
              parent="menu_flutterattendance_root"
              sequence="35"/>

    <menuitem id="menu_flutterattendance_attendance_mail"
              name="Attendance Mail"
              parent="menu_flutterattendance_mail_root"
              action="action_flutterattendance_attendance_mail"
              sequence="10"/>

    <menuitem id="menu_flutterattendance_issue_mail"
              name="Issue Notifications"
              parent="menu_flutterattendance_mail_root"
              action="action_flutterattendance_issue_mail"
              sequence="20"/>

    <menuitem id="menu_flutterattendance_settings"
              name="Settings"
              parent="menu_flutterattendance_root"
              sequence="40"/>

    <menuitem id="menu_flutterattendance_security_check"
              name="Security Checks"
              parent="menu_flutterattendance_settings"
              action="action_flutterattendance_security_check"
              sequence="10"/>

    <menuitem id="menu_flutterattendance_location"
              name="Locations"
              parent="menu_flutterattendance_settings"
              action="action_flutterattendance_location"
              sequence="20"/>

    <menuitem id="menu_flutterattendance_status_rule"
              name="Status Rules"
              parent="menu_flutterattendance_settings"
              action="action_flutterattendance_status_rule"
              sequence="30"/>
</odoo>
